* {
    box-sizing: border-box;
    /* border: 1px solid lightgreen; */
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

body,
section:last-child {
    background-color: rgb(248, 248, 248);
}

header {
    padding-bottom: 20px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(53, 23, 99);
    padding: 0.7em 0;
    margin: 0;
}

header p {
    margin: 1.5em 1.2em;
}

header p,
#contact p,
#contact p a {
    color: gray;
}


nav ul {
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

nav ul li {
    list-style-type: none;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    display: inline-block;
    color: black;
}

nav ul li:active {
    background-color: rgb(82, 82, 82);
}

nav ul li a:active {
    color: rgb(193, 193, 193);
}

nav ul li a:hover {
    background-color: rgb(226, 255, 245);
    transition: 1s;
}

.header-wrapper {
    margin-bottom: 50px;
}

header img {
    width: 235px;
}

img {
    width: 92%;
    margin: 0 auto;
}

main {
    background-color: rgb(255, 255, 255);
}

main h2 {
    font-size: 1.25rem;
    margin-top: 1.5em;
}

#portfolio {
    padding: 3em;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

#portfolio,
#skills h3,
#contact h3 {
    font-size: 1rem;
}

#portfolio,
#skills section {
    padding-bottom: 40px;
}

section {
    padding-bottom: 40px;
}

section p {
    width: 88%;
    margin: auto;
    font-size: 0.9em;
}

main h2,
section p {
    color: rgb(80, 80, 80);
}

section.calculator {
    margin-bottom: 70px;
    padding-bottom: 0;
}

#skills {
    margin: auto;
    padding-bottom: 55px;
    border-top: 1px solid rgb(220, 220, 220);
    background-color: rgb(248, 248, 248);
}

#skills h3 {
    padding: 3em 1.5em 1.5em;
    margin: 0;
}

#skills article {
    padding-bottom: 15px;
}

#skills article h2 {
    width: 65%;
    margin: 1.25rem auto;
    border-radius: 50px;
    color: white;
    padding: 7px;
}

#skills article:nth-child(1) h2 {
    background-color: #89A400;
}

#skills article:nth-child(2) h2 {
    background-color: #044389;
}

#skills article:nth-child(3) h2 {
    background-color: #FB3640;
}

#skills article:nth-child(4) h2 {
    background-color: #00A676;
}

#contact {
    padding-bottom: 55px;
}

#contact h3 {
    padding: 10px 40px 20px;
    text-transform: uppercase;
    margin: 0;
}

#contact p {
    margin-bottom: 15px;
}

#contact p a {
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    display: flex;
    border-top: 1px solid lightgrey;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

#name-footer {
    margin: 0;
    font-size: .9rem;
}

footer p {
    margin: 0;
    font-size: .8rem;
    font-weight: bold;
}

footer p a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

footer p a:hover {
    border-bottom: 1px solid black;
}

footer p,
#name-footer {
    padding: 25px 0;
}

#home-footer,
#portfolio-footer,
#skills-footer,
#contact-footer {
    display: none;
}

/*     TABLET MEDIA QUERY     */

@media screen and (min-width: 768px) {

    h1 {
        margin-top: 40px;
    }

    nav {
        margin-bottom: 50px;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li {
        background-color: rgb(248, 248, 248);
        width: 150px;
    }

    nav ul li,
    nav ul li:last-child {
        margin: 0;
    }

    nav ul li a {
        font-size: 1rem;
        width: 130px;
    }

    .bio-wrapper {
        display: flex;
        width: 95%;
        margin: auto;
        gap: 10px;
        padding-bottom: 30px;
    }

    .bio-wrapper p {
        margin: 0;
        text-align: left;
    }

    .bio-wrapper img {
        order: 2;
        width: 45%;
        min-width: 350px;
    }

    header p,
    section:last-child p {
        font-size: 1.15rem;
    }

    .main-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        width: 49%;
    }

    section.calculator {
        margin-bottom: 0;
    }

    section.skills article {
        width: 49%;
    }

    .skills-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    section:last-child {
        width: 100%;
        margin: 0;
        padding-bottom: 30px;
    }

    section:last-child h2 {
        margin-top: 0;
    }

    section:last-child p {
        margin: 1em 4.5em 1.5em;
    }

    footer {
        padding-bottom: 35px;
    }

    .flex-footer {
        display: flex;
        gap: 25px;
    }

    footer p {
        display: none;
    }

    #home-footer,
    #portfolio-footer,
    #skills-footer,
    #contact-footer {
        display: inline-block;
    }
}

/*     DESKTOP MEDIA QUERY     */

@media screen and (min-width: 1024px) {

    main {
        width: 95%;
        margin: auto;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 50px auto 10px;
        width: 90%;
    }

    .header-wrapper h1 {
        margin: 0;
    }

    .bio-wrapper {
        width: 90%;
        gap: 47px;
    }

    section {
        width: 33%;
        padding-bottom: 30px;
    }

    footer {
        padding: 0;
    }
}